/* 메인 css */

/* 폰트 */
/* font-family: 'Alegreya', serif; */
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap");
/* font-family: 'Playfair Display', serif; */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");
/* font-family: 'Lato', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* font-family: 'Nanum Gothic', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

/* color */
:root {
  --mian-color: #de325d;
  --footer-gray: rgba(0, 0, 0, 0.5);
  --btn-red: #df0623;
  --black: #000;
  --white: #fff;
  --gray: #686868;
  --lightgray: #d6d6d6;
  --green: #686868;
}
body {
  font-family: "Alegreya", "Nanum Gothic";
  /* background: #ddd; */
}
/* ----------wrap---------- */
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
/* ----------header---------- */
header {
  max-width: 100vw;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 998;
}
/* ----------header-sub---------- */
.header-sub {
  width: 100%;
  /* height: 30px; */
  height: 35px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  /* 여기 원래16px 인데 내가수정한거 */
  font-size: 14px;
  font-weight: 500;
  transition: background 0.5s;
}
.header-sub.active {
  background: var(--mian-color);
}
.header-sub a {
  color: var(--white);
}
.header-sub-icon > span:last-child {
  padding-left: 20px;
}
/* ----------header-main depth1---------- */
.header-main {
  width: 100%;
  height: 70px;
  background: transparent;
  /* background: var(--mian-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: background 0.5s;
}
.header-main.active {
  background: var(--white);
}
.header-main-logo a {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: var(--white);
}
.header-main.active a {
  color: var(--black);
}
.header-main-logo a span {
  padding-left: 15px;
}
.header-main-list {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-main-list .header-main-list-open {
  width: 30px;
  height: 30px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--white);
  margin-left: 22px;
}
.header-main.active .header-main-list .header-main-list-open {
  color: var(--black);
}
.header-main-list-depth1 {
  display: flex;
  height: 100%;
}
.header-main-list-depth1 > li > a {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 35px;
  transition: color 0.3s;
}
/* .header-main-list-depth1 > li > a:hover {
  color: var(--black);
} */
/* ----------header-main depth2---------- */

.header-main-list-depth2-box.active {
  background: transparent;
}

/* .header-main-list-depth1 li:nth-last-child(2) .header-main-list-depth2-list,
.header-main-list-depth1 li:nth-last-child(3) .header-main-list-depth2-list {
  margin-left: 200px;
} */

.header-main-list-depth2-box {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 0px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: var(--white);
}

.header-main-list-depth1 > li:hover .header-main-list-depth2-box {
  height: 90px;
  transition: 0.3s;
}
.header-main-list-depth1 > li > a:hover {
  color: var(--mian-color);
}
.header-main-list-depth2-logo {
  flex: 1;
}
.header-main-list-depth2-logo img {
  width: 90px;
  height: 90px;
}
.header-main-list-depth2-title {
  flex: 1;
  font-size: 24px;
  font-weight: 700;
  color: var(--lightgray);
}
.header-main-list-depth2-list {
  flex: 3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
}
.header-main-list-depth2-list li {
  /* width: 135px; */
  width: auto;
  height: 35px;
}
.header-main-list-depth2-list li a.active {
  border: 1px solid var(--white);
  color: var(--white);
}
.header-main-list-depth2-list li a {
  font-size: 16px;
  font-weight: 700;
  border: 1px solid var(--footer-gray);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  /* 내가추가한부분 */
  padding: 10px 20px;
}
.header-main-list-depth2-list li a:hover {
  background: var(--mian-color);
  border: none;
  color: var(--white);
}
.header-main-list-depth2-box li a {
  color: #fff;
  border: 1px solid #000;
}
/* ----------header media---------- */
@media (max-width: 1080px) {
  .header-main-logo a span {
    display: none;
  }
}
@media (max-width: 1024px) {
  header {
    height: 100px;
  }
  .header-sub {
    display: none;
  }
  .header-main-list-depth1 {
    display: none;
  }
}
@media (max-width: 375px) {
  .header-main-logo img {
    width: 150px;
    height: 40px;
  }
}

/* ----------sitemap---------- */
.sitemap {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: 0.3s;
  background: #fff;
}
.sitemap.active {
  width: 100%;
  opacity: 1;
}
.sitemap-logo {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
.sitemap-logo button {
  width: 30px;
  height: 30px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}
.sitemap-list {
  width: 100%;
  height: calc(100% - 200px);
  text-align: center;
  padding-top: 150px;
}
.sitemap-depth1 {
  display: flex;
  justify-content: space-around;
}
.sitemap-depth1 > li > a {
  font-size: 22px;
  font-weight: 700;
}
.sitemap-depht2 {
  margin-top: 20px;
}
.sitemap-depht2 > li {
  margin-top: 20px;
}
.sitemap-depht2 > li > a {
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
}
.sitemap-depht2 > li > a:hover {
  color: var(--white);
  background: var(--mian-color);
  border-radius: 10px;
}
.sitemap-mobile {
  display: none;
}
.sitemap-list-mobile {
  display: none;
}
/* ----------sitemap media---------- */
@media (max-width: 1024px) {
  .sitemap-logo {
    background: var(--mian-color);
    height: 100px;
    padding: 30px;
  }
  .sitemap-pc-logo {
    display: none;
  }
  .sitemap-mobile {
    display: block;
  }
  .sitemap-mobile a {
    font-size: 22px;
    font-weight: 700;
    color: var(--white);
  }
  .sitemap-mobile a:first-child {
    padding-right: 30px;
  }
  .sitemap-close {
    color: var(--white);
  }
  .sitemap-list {
    display: none;
  }
  .sitemap-list-mobile {
    display: block;
    height: 100%;
    display: flex;
  }
  .sitemap-list-mobile-depth1 {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .sitemap-list-mobile-depth1 button {
    height: 100px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
  }
  .sitemap-list-mobile-depth1 button:hover::after {
    display: block;
  }
  .sitemap-list-mobile-depth1 button::after {
    content: "";
    position: absolute;
    display: none;
    width: 16px;
    height: 16px;
    background: var(--mian-color);
    right: -8px;
    border-radius: 50%;
    top: calc(50% - 16px / 2);
  }
  .sitemap-list-mobile-depth2 {
    flex: 2;
    border-left: 1px solid var(--lightgray);
  }
  .sitemap-list-mobile-depth1-btn1-open,
  .sitemap-list-mobile-depth1-btn2-open,
  .sitemap-list-mobile-depth1-btn3-open,
  .sitemap-list-mobile-depth1-btn4-open {
    display: none;
    height: 100%;
    width: 100%;
  }
  .sitemap-list-mobile-depth1-btn1-open.active,
  .sitemap-list-mobile-depth1-btn2-open.active,
  .sitemap-list-mobile-depth1-btn3-open.active,
  .sitemap-list-mobile-depth1-btn4-open.active {
    display: block;
  }
  .sitemap-list-mobile-depth1-btn1-open ul,
  .sitemap-list-mobile-depth1-btn2-open ul,
  .sitemap-list-mobile-depth1-btn3-open ul,
  .sitemap-list-mobile-depth1-btn4-open ul {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
  }
  .sitemap-list-mobile-depth1-btn1-open ul li,
  .sitemap-list-mobile-depth1-btn2-open ul li,
  .sitemap-list-mobile-depth1-btn3-open ul li,
  .sitemap-list-mobile-depth1-btn4-open ul li {
    border-bottom: 1px solid var(--lightgray);
  }
  .sitemap-list-mobile-depth1-btn1-open ul li a,
  .sitemap-list-mobile-depth1-btn2-open ul li a,
  .sitemap-list-mobile-depth1-btn3-open ul li a,
  .sitemap-list-mobile-depth1-btn4-open ul li a {
    padding: 40px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 1s;
  }
  .sitemap-list-mobile-depth1-btn1-open ul li a:hover,
  .sitemap-list-mobile-depth1-btn2-open ul li a:hover,
  .sitemap-list-mobile-depth1-btn3-open ul li a:hover,
  .sitemap-list-mobile-depth1-btn4-open ul li a:hover {
    background: linear-gradient(90deg, var(--mian-color), var(--btn-red));
    color: var(--white);
  }
}

/* ----------footer---------- */
footer {
  max-width: 100vw;
  width: 100%;
  height: 120px;
  background: var(--green);
  display: flex;
  font-family: "Roboto", sans-serif;
}
.footer-logo {
  text-align: right;
  padding-top: 30px;
  padding-right: 50px;
  flex: 0.8;
}
.footer-text {
  flex: 3;
  color: var(--white);
  font-size: 14px;
  padding-top: 30px;
}
.footer-text p:first-child {
  margin-bottom: 10px;
}
.footer-text p:nth-child(2) {
  margin-bottom: 5px;
}
.footer-bold {
  font-weight: 700;
}
.footer-select {
  flex: 1.2;
  padding-top: 30px;
  padding-left: 20px;
}
.footer-select select {
  width: 120px;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 5px;
}
.footer-select select:first-child {
  margin-right: 25px;
}
/* ----------footer media---------- */
@media (max-width: 1024px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .footer-logo {
    display: none;
  }
  footer p {
    font-size: 11px;
  }
  .footer-select {
    padding: 0;
    margin-top: 30px;
  }
  .footer-text {
    padding: 0px;
  }
  .footer-select {
    margin-top: 10px;
  }
}
/* ----------upbtn---------- */
.upbtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 0px;
  height: 0px;
  font-size: 30px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s;
}
.upbtn.active {
  height: 30px;
  width: 30px;
  opacity: 1;
}

/* ----------main-visual---------- */
.main-visual {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/mainvisual/mainvisual01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mian-visual-text-box p {
  font-size: 64px;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 50px;
}
.mian-visual-text-box span {
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
}
/* ----------main-visual media---------- */
@media (max-width: 1024px) {
  .mian-visual-text-box p {
    font-size: 30px;
  }
  .mian-visual-text-box span {
    font-size: 24px;
  }
  .main-visual {
    height: 820px;
  }
}
@media (max-width: 375px) {
  .mian-visual-text-box p {
    font-size: 24px;
  }
  .mian-visual-text-box span {
    font-size: 16px;
  }
  .main-visual {
    height: 300px;
  }
}

/* ----------main-section-quickservice---------- */
/* quick service */
.section-quick {
  max-width: 1440px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 20px;
}
.section-quick-title {
  margin-bottom: 40px;
}
.section-quick-title p {
  font-size: 64px;
  color: rgba(222, 50, 93, 0.1);
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.section-quick-title p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  display: block;
  width: 300px;
  height: 3px;
  background-color: rgba(222, 50, 93, 0.1);
}
.section-quick-title h1 {
  font-size: 30px;
  font-weight: 700;
}
.section-quick-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.quick-menu {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  background: #fcebef;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: border 0.1s;
}
.quick-menu:hover {
  border: 2px solid var(--mian-color);
}
.quick-menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.quick-menu a i {
  font-size: 80px;
  color: var(--mian-color);
  margin-bottom: 5px;
}
.quick-menu span {
  font-size: 14px;
}
/* ----------main-section-notice---------- */
/* notice */
.section-notice {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 80px;
  padding: 20px;
  /* background: #ccc; */
  position: relative;
}
.section-notice.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;
  animation: movein 1s ease-in-out forwards;
  height: 50%;
  background: #fff3f6;
  border-radius: 0 100px 0 0;
}
.section-notice.active::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  animation: movein 1s ease-in-out forwards;
  height: 50%;
  background: #ffc5c5;
  border-radius: 0 0 0 100px;
}
@keyframes movein {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.section-notice-title {
  margin-top: 80px;
  margin-bottom: 40px;
}
.section-notice-title p {
  font-size: 64px;
  color: rgba(222, 50, 93, 0.1);
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.section-notice-title p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  display: block;
  width: 300px;
  height: 3px;
  background-color: rgba(222, 50, 93, 0.1);
}
.section-notice-title h1 {
  font-size: 30px;
  font-weight: 700;
}
.section-notice-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 60px;
}
.notice-menu {
  width: 260px;
  height: 260px;
  background: #fff;
  padding: 15px 25px;
  border-radius: 20px;
  position: relative;
  transition: transform 0.3s;
  border: 1px solid #fff3f6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.notice-menu:hover {
  transform: scale(1.1);
}
.notice-menu h1 {
  font-size: 13px;
  background: #000;
  color: var(--white);
  display: inline-block;
  padding: 4px 10px;
  border-radius: 30px;
  margin-bottom: 13px;
}
.notice-menu h2 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 13px;
}
.notice-menu h3 {
  font-size: 14px;
  height: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nomal;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 19px;
  margin-bottom: 20px;
}
.notice-menu h4 {
  font-size: 14px;
}
.notice-menu-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--mian-color);
  position: absolute;
  right: 15px;
  bottom: 10px;
}
.notice-menu-btn a {
  color: var(--white);
  font-size: 14px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-notice-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.section-notice-btn a {
  font-size: 14px;
  font-weight: 700;
  width: 150px;
  height: 50px;
  background: var(--btn-red);
  color: var(--white);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}
.section-notice-btn a:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* ----------main-section-APOA---------- */
/* APOA STUDIO */
.section-studio {
  /* max-width: 1440px; 이밑에 vw도 수정추가한거 */
  max-width: 100vw;
  width: 100%;
  /* padding: 20px 원래꺼 */
  padding: 100px 0 0 0;
  background-image: url(../images/apoastudio/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-studio-title {
  margin-top: 80px;
  margin-bottom: 40px;
  /* 이 밑줄은 내가 수정추가한거 */
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
}
.section-studio-title p {
  font-size: 64px;
  color: rgba(222, 50, 93, 0.1);
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.section-studio-title p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  display: block;
  width: 300px;
  height: 3px;
  background-color: rgba(222, 50, 93, 0.1);
}
.section-studio-title h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
.section-studio-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.studio-menu {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  font-size: 14px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 75px;
}
.studio-menu audio {
  position: absolute;
  bottom: -35px;
  height: 30px;
  width: 100%;
}
.studio-menu p {
  margin: 5px;
}
.section-studio-menu div:first-child {
  background-image: url(../images/apoastudio/main01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-studio-menu div:nth-child(2) {
  background-image: url(../images/apoastudio/main02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-studio-menu div:last-child {
  background-image: url(../images/apoastudio/main03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-studio-btn a {
  font-size: 14px;
  font-weight: 700;
  width: 150px;
  height: 50px;
  background: var(--btn-red);
  color: var(--white);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}
.section-studio-btn a:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* ----------main-section-news---------- */
/* news */
.section-news {
  max-width: 1440px;
  width: 100%;
  padding: 20px;
  margin-bottom: 100px;
}
.section-news-title {
  margin-top: 80px;
  margin-bottom: 40px;
}
.section-news-title p {
  font-size: 64px;
  color: rgba(222, 50, 93, 0.1);
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.section-news-title p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  display: block;
  width: 300px;
  height: 3px;
  background-color: rgba(222, 50, 93, 0.1);
}
.section-news-title h1 {
  font-size: 30px;
  font-weight: 700;
}
.section-news-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.section-news-btn a {
  font-size: 14px;
  font-weight: 700;
  width: 150px;
  height: 50px;
  background: var(--btn-red);
  color: var(--white);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}
.section-news-btn a:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.section-news-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.section-news-menu-item .item-box {
  position: relative;
  width: 265px;
  height: 260px;
}
.section-news-menu-item .item-box img {
  width: 265px;
  height: 260px;
}
.youtube {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 265px;
  height: 0px;
  overflow: hidden;
  border-radius: 20px;
  transition: 0.5s;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube a {
  color: red;
}
.section-news-menu-item .item-box:hover .youtube {
  height: 260px;
}
.graduate-name {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
}
/* ----------main-section-quickservice medai---------- */
@media (max-width: 1024px) {
  .section-studio-title p::after,
  .section-notice-title p::after,
  .section-quick-title p::after,
  .section-news-title p::after {
    display: none;
  }
  .youtube {
    height: 260px;
  }
}
