body {
    font-family: "Alegreya", "Nanum Gothic";
    /* background: #ddd; */
    height: 100%;
  }
  .wrap{
    position: relative;
    min-height: 100%;
    padding-bottom: 150px;
  }
  footer{
    position: absolute;
    bottom: 0;
  }
  /* lnb */
.lnb{
  display: flex;
  max-width: 100%;
  height: 114px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  align-items: center;
}
.lnb h1{
  font-size: 40px;
  color: #d6d6d6;
  font-weight: 700;
  padding: 10px;
  display: none;
}
.lnb ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.lnb ul li{
  display: inline-block;
  margin-left: 30px;
  width: 30%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.lnb ul li:nth-child(1){
    text-align: center;
}
.lnb ul li span{
  font-weight: 700;
}
li {
    list-style-type: none;
}
.container #slide1 h1{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
   #slide1, #event{
    margin: 30px 20px;
  }
  
  #event{
    margin-bottom: 100px;
  }
   #event h1{
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  }
   #event #list-content .list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  } 
   #event #list-content .list li{
 /*  outline: 1px solid red; */
  width: calc((100% - 20px) / 2);
  } 
  #event #list-content .list li img{
      width: 100%;
  }