body {
  font-family: "Alegreya", "Nanum Gothic";
}
.wrap {
  position: relative;
  min-height: 100%;
  padding-bottom: 150px;
}
footer {
  position: absolute;
  bottom: 0;
}
#sub-title {
  width: 100%;
  height: 250px;
  background-image: url(../images/sub1-4/subtitle-location.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-size: cover; */
}
#sub-title .container {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.location-info .container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 30px;
}
.location-info .container .mappic {
  width: 90%;
}
.location-info .container .address {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.location-info .container th,
td {
  padding: 5px;
  padding-left: 1em;
}
.location-info .container th {
  text-align: left;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 700;
}
.location-info .container th:nth-child(1) {
  vertical-align: text-top;
}
.location-info .container td {
  font-size: 1rem;
  line-height: 27px;
}
#map .container {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pcmap {
  display: none;
}
.address {
  order: 1;
}
.mappic {
  order: 3;
}

/* lnb */
.lnb {
  max-width: 767px;
  width: 100%;
  /* background: #ccc; */
  height: 137px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.lnb .lnb-title {
  display: none;
}

.lnb .lnb-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  margin-left: 0;
}

.lnb .lnb-list ul li {
  padding: 20px 18px;
  font-size: 20px;
}

.lnb-list-bold {
  font-weight: bold;
}

.lnb .lnb-list {
  flex: 3;
}
@media (max-width: 1024px) {
  .lnb {
    max-width: 1024px;
    width: 100%;
    /* background: #ccc; */
    display: flex;
    height: 137px;
    padding: 10px;
  }

  .lnb .lnb-title {
    display: none;
  }

  .lnb .lnb-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    margin-left: 0;
  }

  .lnb .lnb-list ul li {
    padding: 20px 18px;
    font-size: 20px;
  }

  .lnb-list-bold {
    font-weight: bold;
  }

  .lnb .lnb-list {
    flex: 3;
  }
}
