/* sub1-2.css */
/* sub공통 */
section .full-time-pro-box .full-time-pro-list img,
section .aff-pro-box .aff-pro-list img {
  object-fit: cover;
}
.main-visual-sub2-1 h1 {
  font-family: "Alegreya", "Nanum Gothic";
  font-size: 40px;
  font-weight: 700;
}

.full-time-pro h2,
.aff-pro h2 {
  font-family: "Alegreya", "Nanum Gothic";
  font-size: 30px;
  font-weight: 700;
}

.full-time-pro-box h3,
.aff-pro-list h3 {
  font-family: "Alegreya", "Nanum Gothic";
  font-size: 20px;
  font-weight: 700;
}

section .full-time-pro-box .full-time-pro-list p:not(.hover),
section .aff-pro-box .aff-pro-list p:not(.hover) {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #333;
}

p.hover {
  font-family: "Alegreya", "Nanum Gothic";
  font-size: 16px;
  font-weight: 500;
}

.main-visual-sub2-1 {
  max-width: 1440px;
  width: 100%;
  height: 250px;
}

.main-visual-sub2-1 .sub-title {
  background-image: url(../images/sub2-1/main-visual.jpg);
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sub 공통 LNB */
.lnb {
  max-width: 1440px;
  width: 100%;
  /* background: #ccc; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  height: 80px;
  padding: 10px;
}

.lnb .lnb-title {
  font-size: 40px;
  font-weight: 700;
  color: #d6d6d6;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}

.lnb .lnb-list ul {
  display: flex;
  margin-right: 340px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.lnb .lnb-list ul li {
  font-size: 20px;
}

.lnb-list-bold {
  font-weight: bold;
}

.lnb .lnb-list {
  flex: 3;
}

/* 좌표 기준 */
section .full-time-pro-box .full-time-pro-list li,
section .aff-pro-box .aff-pro-list li {
  position: relative;
}

/* sub2-1 section */
section {
  max-width: 1440px;
  width: 100%;
  align-items: center;
}

section .full-time-pro-box {
  text-align: center;
}

section .full-time-pro-box .full-time-pro-list img,
section .aff-pro-box .aff-pro-list img {
  width: 350px;
  height: 400px;
}

section .full-time-pro,
section .aff-pro {
  margin-left: 20px;
}

section .full-time-pro h2,
section .aff-pro h2 {
  margin-top: 50px;
  margin-bottom: 15px;
}

section .full-time-pro-box .full-time-pro-list h3,
section .aff-pro-box .aff-pro-list h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

section .full-time-pro p,
section .aff-pro p {
  margin-bottom: 40px;
}

section .full-time-pro-box p,
section .aff-pro-box p {
  margin-bottom: 50px;
}

section .aff-pro-box .aff-pro-list li:nth-child(4) p,
section .aff-pro-box .aff-pro-list li:nth-child(5) p {
  margin-bottom: 100px;
}

section .full-time-pro-box .full-time-pro-list,
section .aff-pro-box .aff-pro-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

/* section .full-time-pro-box .full-time-pro-list li:last-child {
  outline: 1px solid red;
}

section .aff-pro-box .aff-pro-list li:nth-child(4) {
  outline: 1px solid red;
  
} */

section .aff-pro-box {
  text-align: center;
}

/* section li {
  float: left;
  margin-right: 45px;
} */

/* section .aff-pro {
  clear: both;
} */

/* 분기점_mobile-lnb */
@media (max-width: 1024px) {
  .lnb {
    max-width: 1024px;
    width: 100%;
    /* background: #ccc; */
    display: flex;
    height: 137px;
    padding: 10px;
  }

  .lnb .lnb-title {
    display: none;
  }

  .lnb .lnb-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    margin-right: 0;
  }

  .lnb .lnb-list ul li {
    padding: 20px 18px;
    font-size: 20px;
  }

  .lnb-list-bold {
    font-weight: bold;
  }

  .lnb .lnb-list {
    flex: 3;
  }
  /* 분기점에서 hover 효과 제거 */
  /* section {
    pointer-events: none;
  } */
}

/* 반응형 hovew pc일땐 나타나게 mobile 일땐 안보이게 */
@media (hover: hover) {
  /* hover시 사진 흑백 */
  section .full-time-pro-box .full-time-pro-list li:nth-child(1):hover {
    filter: saturate(0);
  }

  /* hover용 p text 안보임 */
  p.hover {
    display: none;
    line-height: 22px;
  }
  /* hover시 p text 사진위에 등장 */
  section .full-time-pro-box .full-time-pro-list li:nth-child(1):hover p.hover {
    display: block;
    position: absolute;
    top: 140px;
    left: 16px;
    color: #fff;
  }

  section .full-time-pro-box .full-time-pro-list li:nth-child(2):hover p.hover {
    display: block;
    position: absolute;
    left: 49px;
    top: 145px;
    color: #fff;
  }

  section .full-time-pro-box .full-time-pro-list li:nth-child(3):hover p.hover {
    display: block;
    position: absolute;
    left: 18px;
    top: 140px;
    color: #fff;
  }

  /* 겸임교수 사진 hover시 흑백 */
  section .aff-pro-box .aff-pro-list li:nth-child(n):hover > img {
    filter: saturate(0) brightness(0.5);
  }

  /* 겸임교수 사진 hover시 p text 등장 */
  section .aff-pro-box .aff-pro-list li:nth-child(1):hover .hover {
    display: block;
    position: absolute;
    top: 145px;
    left: 10px;
    color: #fff;
    text-align: center;
  }

  section .aff-pro-box .aff-pro-list li:nth-child(2):hover .hover {
    display: block;
    position: absolute;
    top: 145px;
    left: 10px;
    color: #fff;
    text-align: center;
  }

  section .aff-pro-box .aff-pro-list li:nth-child(3):hover .hover {
    display: block;
    position: absolute;
    top: 167px;
    left: 18px;
    color: #fff;
    text-align: center;
  }

  section .aff-pro-box .aff-pro-list li:nth-child(4):hover .hover {
    display: block;
    position: absolute;
    top: 167px;
    left: 58px;
    color: #fff;
    text-align: center;
  }

  section .aff-pro-box .aff-pro-list li:nth-child(5):hover .hover {
    display: block;
    position: absolute;
    top: 167px;
    left: 9px;
    color: #fff;
    text-align: center;
  }
}
